<%= provide(:title, @product.name) %>
<%= render 'shared/light_section', product: @product %>
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'row_product', product: @product %>
    <%= render 'row_product_content' %>
  </div>
</section>